.nav_container{

    display: flex;
    align-items:center ;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    padding: 1rem 2rem 1.26rem 2rem;    
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.178);
}

.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo_container span{
    font-size: 2.15em;
    margin-top: 3px;
    font-weight: 600;
    color: #9fbb62;
    font-family: "MontSerrat";
    cursor: pointer;

}

.nav_links{

    display: flex;
    align-items:center ;
    justify-content: right;
    gap: 35px;
    flex-direction: row;
}


.nav_container a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size:0.95em;
    font-family: "MontSerrat";
    letter-spacing: 2px;
    cursor: pointer;
}

.nav_container a:hover{
    color: var(--banner-green);
}

